* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 20px auto;
    width: 70%;
    background-color: bisque;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.mb {
    margin-bottom: 10px;
}

input, button {
    border: 0;
    padding: 10px;
    border-radius: 10px;
}
button {
    background-color: rgb(0, 115, 231);
    color: white;
}

.result {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.hidden {
    height: 0;
    padding: 0;
}
